#messageContainer {
    position: absolute;
    top: 5em;
    right: 1em;
    width: 11em;
}

#messageContainer label {
    border-radius: 5px;
    text-align: center;

    width: 10em;
}

#messageContainer label.warning {
    background-color: rgba(244, 164, 96, 0.7);
}

#messageContainer label.error {
    background-color: rgba(240, 128, 128, 0.7);
}

#messageContainer label.success {
    background-color: rgba(46, 139, 87, 0.7);
}
